<%- include('base', { 
    subject: "Reset Your Password", 
    headerTitle: "🔑 Password Reset", 
    content: `
    <p>We received a request to reset your password. Click the button below to proceed:</p>
    <a href="<%= resetLink %>" class="button">Reset Password</a>
    <p>If you didn't request this, please ignore this email.</p>
    <p>Stay secure,<br /><strong>YourCompany Team</strong></p>
` }) %>
