<%- include('base', {
subject: "Welcome to Our Platform", headerTitle: "🎉Welcome!", content: `
<p>
  Thank you for signing up on our platform. We're excited to have you on board!
</p>
<p>Best regards, <br /><strong>YourCompany Team</strong></p>
` }) %>
